<div class="searchbar">
  <div class="wrapper">
    <form name="search" ng-submit="formSearch()" novalidate>
        <p ng-show="search.string.$invalid && search.string.$touched">Must be a valid string</p>
        <input type="text" class="search" name="string" placeholder="Search for artist or album title" ng-model="spotify.string" ng-required="true">
      <button type="submit" class="search-btn" ng-disabled="search.$invalid">Search</button>
    </form>
  </div>
</div>

<!-- if no records found or no search -->
<div ng-if="!results" class="empty">
  <img ng-src="images/Magnify@2x.png" class="img-fluid mx-auto d-block magnify">
  <p>Your results will appear here</p>
</div>

<!-- results section -->
<div ng-if="results" class="results">
  <div ng-repeat="(type, output) in results" class="section">
      <div ng-repeat="item in output.items | limitTo: limit" class="item">
        <div data-toggle="modal" data-target="#showAlbumsModal-{{item.id}}" ng-click="findMore(type, item.id)" class="box">
          <!-- Button trigger modal -->
          <div ng-show="item.images[0].url" class="image-div">
            <img ng-src="{{ item.images[0].url }}" class="image">
            <span ng-if="type == 'artists'">
              <img ng-src="images/artist-icon@2x.png" class="small-icon">
            </span>
            <span ng-if="type == 'albums'">
              <img ng-src="images/album-icon@2x.png" class="small-icon">
            </span>
          </div>
          <div ng-if="!item.images[0].url" class="image-div">
            <img ng-src="images/noimg.jpg" class="image">
          </div>
          <div class="overlay">
            <img ng-src="images/Bitmap@2x.png">
            <span ng-if="type == 'artists'">
              <div class="text ng-binding">View Ablums</div>
            </span>
            <span ng-if="type == 'albums'">
              <div class="text ng-binding">View Tracks</div>
            </span>
          </div>
          <p>{{ item.name }}</p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="showAlbumsModal-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="artistModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="artistModalTitle">{{ item.name }}</h5>
                <img ng-show="item.images[0].url" ng-src="{{ item.images[0].url }}" class="cover">
                <img ng-if="!item.images[0].url" ng-src="images/noimg.jpg" class="cover">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <span ng-if="type == 'artists'">
                <div class="modal-header albums-text">Albums<span class="by">&nbsp;by</span></div>
              </span>
              <span ng-if="type == 'albums'">
                <div class="modal-header albums-text">Tracks<span class="by">&nbsp;by</span></div>
              </span>
              <div class="modal-body">
                <div ng-repeat="cpitem in albums.items" class="album-modal">
                  <div ng-if="type == 'artists'" ng-init="getAlbumDetails(artist, cpitem.id)">
                    <img ng-src="{{ cpitem.images[2].url }}" class="album-cover">
                    <span class="album-name">{{ cpitem.name }}</span><br>
                    <span>{{ details.release_date | date:'yyyy' }}</span>
                  </div>
                  <div ng-if="type == 'albums'">
                    <span class="album-name">{{ cpitem.name }}</span><br>
                    <span>{{ cpitem.duration_ms | date:'mm:ss'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  <!-- more button -->
        <div ng-show="!noMore" class="more">
          <a ng-click="more(results)" class="more-btn">Show me more</a>
        </div>
</div>